* {
  margin: 0px;
  font-family: "Courier New", Courier, monospace;
}

body {
  color: #fef8e8;
  font-size: 1rem;
}

.typewriter {
  font-weight: bold;
  overflow: hidden;
  border-right: 0.15em solid whitesmoke;
  white-space: nowrap;
  margin: 0 auto;
  animation: typing 5s steps(40, end) infinite;
}

.name {
  font-size: 1.2rem;
}

@keyframes typing {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.titlecard {
  padding-top: 10rem;
  margin: 0;
  background-color: black;
  background: url(./images/night-sky.jpg);
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
  height: 100vh;
  width: 100%;
}

h1 {
  display: inline;
  font-size: 3rem;
  word-wrap: break-word;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

body section:nth-child(even) {
  background-color: dodgerblue;
  padding: 1rem;
}
body section:nth-child(odd) {
  background-color: black;
  background: url(./images/night-sky.jpg);
  background-attachment: fixed;
  background-size: cover;
  padding: 1rem;
}

section .doodle {
  width: 80vw;
  margin-top: 10px;
  border-radius: 10px;
}

.project {
  background-color: dodgerblue;
  border: 5px solid royalblue;
  margin: 10px;
  border-radius: 10px;
}

.project img {
  width: 50px;
}

.centerimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.icon {
  width: 50px;
}

dl > dt {
  font-weight: bold;
}

dl > dd {
  padding-left: 15px;
}

footer {
  background-color: dodgerblue;
  text-align: center;
  border-top: 10px solid royalblue;
}

@media Screen and (min-width: 768px) {
  body {
    color: #fef8e8;
    font-size: 1.2rem;
  }

  h1 {
    display: inline;
    font-size: 5rem;
    word-wrap: break-word;
  }

  .name {
    font-size: 2.5rem;
    font-weight: bold;
    overflow: hidden;
    border-right: 0.15em solid whitesmoke;
    white-space: nowrap;
    margin: 0 auto;
    animation: typing 5s steps(40, end) infinite;
  }

  .titlecard {
    padding-top: 15rem;
    margin: 0;
    background-color: black;
    background: url(./images/night-sky.jpg);
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    height: 100vh;
    width: 100%;
  }

  .row {
    display: flex;
  }

  .column {
    width: 50vw;
    padding: 1rem;
  }

  .column > .doodle {
    width: 40vw;
  }

  .projects {
    flex-wrap: wrap;
    justify-content: center;
  }

  .project {
    width: 300px;
    height: 20em;
    background-color: dodgerblue;
    border: 5px solid royalblue;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-sizing: border-box;
  }

  .icon {
    width: 70px;
  }

  body section:nth-child(even) {
    background-color: dodgerblue;
    background: linear-gradient(90deg, dodgerblue 50%, black 50%);
    padding: 1rem;
  }
  body section:nth-child(odd) {
    background-color: black;
    background: url(./images/night-sky.jpg);
    background-attachment: fixed;
    background-size: cover;
    padding: 1rem;
  }
}

@media Screen and (min-width: 1024px) {
  body {
    color: #fef8e8;
    font-size: 1.5rem;
  }

  .name {
    font-size: 3.5rem;
    font-weight: bold;
    overflow: hidden;
    border-right: 0.15em solid whitesmoke;
    white-space: nowrap;
    margin: 0 auto;
    animation: typing 5s steps(40, end) infinite;
  }

  h1 {
    display: inline;
    font-size: 5rem;
    word-wrap: break-word;
  }

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 2rem;
    margin: 1rem;
  }

  .project {
    width: 400px;
    height: 500px;
    background-color: dodgerblue;
    border: 5px solid royalblue;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-sizing: border-box;
  }

  .icon {
    width: 100px;
  }

  .project img {
    width: 70px;
  }
}
